<!DOCTYPE html>

<!-- index page of music-web -->

<!DOCTYPE html>
<html ng-app="MPApp">
    <head>
        <title>Music Player in Angular</title>
        <script src="lib/angular.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <div ng-controller="PlayerController">
            <button ng-click="play()" >PLAY</button>
            <button ng-click="stop()" >STOP</button>
            playing audio: <b>{{ playing }}</b>

            <h1>PROGRAMS</h1>
            <!-- {{ programs }} -->
            <li ng-repeat="program in programs" ng-click="play(program)">
                <!-- this is how the json is structured -->
                <span>{{ program.title.$text }}</span>
            </li>

            <br />
            <h3 ng-show="currentTrack">Now Playing: {{ currentTrack }}</h3>
        </div>

        <br />
        <div ng-controller="ClockController">
            time: {{ clock }}
        </div>

    </body>
</html>
