<!DOCTYPE html>

<!-- index page of music-web -->

<!DOCTYPE html>
<html ng-app="MPApp">
    <head>
        <title>Music Player in Angular</title>
        <script src="lib/angular.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <div ng-controller="PlayerController">
            <button ng-click="play()" >PLAY</button>
            <button ng-click="stop()" >STOP</button>
            playing audio: <b>{{ playing }}</b>
        </div>
    </body>
</html>
